* {
  font-family: 'Lato', sans-serif !important;
}

div.output-containers {
  margin-left: 5px;
  margin-right: 5px;
  width: 12.5%;
  height: max-content;
  border-radius: .5rem;
}

button, input {
  border-radius: .2rem;
}

div.output-containers > img {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

div.output-containers > pre {
  text-align: center;
  font-size: 1.8vw;
  font-family: 'Prompt', sans-serif !important;
}

div#input-container {
  padding-bottom: 10px;
}

div#input-container > button {
  margin-left: 10px;
}

div#footer {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

div#footer > p {
  margin: 0px !important;
}

div#input-container > input#url-input {
  width: 320px;
}

input#url-input, div#information-container > p#information-text {
  font-family: 'Lato', sans-serif !important;
}

div#outputs-list, div#input-container, div#information-container, div#output-title-container,
div#output-author-container, div#output-thumbnail-container, div#output-rating-container, div#output-bottom-container,
div#output-thumbnail-container {
  display: flex;
  justify-content: center;
}

div#output-thumbnail-container {
  padding-top: 10px;
}

div#output-bottom-container > div {
  border-radius: .5rem;
  padding: 10px;
  margin-top: 10px;
}

div#output-thumbnail-container > img#output-thumbnail {
  width: 25vw;
}

div#output-rating-bar-container {
  background-color: red;
  height: 10px;
  width: 100%;
}

div#output-rating-bar-container, div#output-rating-bar-container > div#output-rating-bar {
  border-radius: .5rem;
}

div#output-rating-bar-container > div#output-rating-bar {
  background-color: green;
  height: 100%;
}

h1#output-title {
  margin: 0px;
}

h2#output-author {
  margin-top: 0px;
  font-style: italic;
}

div.back {
  margin: 10px;
  padding: 10px;
  width: max-content;
}

#author-url, #title-url {
  color: unset !important;
}

#author-url, #title-url, div.back > a#back-link {
  text-decoration: none !important;
}

div#content {
  padding: 25px;
}

div#content > h1 {
  margin: 0px !important;
}

div#content > p#main-p {
  margin-top: 10px;
}

div#toggle-container {
  position: fixed;
  left: 25px;
  bottom: 25px;
}

div#theme-toggle-container {
  border-radius: .1rem;
  width: 70px;
  height: 70px;
}

div#theme-toggle-container > img#theme-toggle {
  width: 50px;
  height: 50px;
  margin: 10px;
}
